.changePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  color: white;
  position: fixed;
  .arrowDown {
    height: min(5vh, 50px);
    padding: 0px 25px 0 25px;
    animation: moveUpAndDown 1s ease-in-out infinite;
  }
  .linesEffect {
    width: 100%;
    .line {
      position: absolute;
      width: 1px;
      height: 3vh;
      background-color: white;
      animation: animateLine 1s linear infinite;
    }
  }
}

.link{
  color: white;
}

.on-bottom{
  position: fixed;
  bottom: 4vh;
}

@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

@keyframes animateLine {
  0% {
    transform: translateY(3vh);
  }
  50% {
    transform: translateY(-2.5vh);
  }
  100% {
    transform: translateY(0);
  }
}


