p,h1, h2{
    font-family: 'Space Mono', monospace, sans-serif;
    text-align: center;
}
.TitleProject{
    margin: 0 0 1vw 0;
    color: white;
    line-height: 36px;
    text-align: center;
}
.description{
    color: white;
    width: 95%;
    max-width: 1380px;
    line-height: 26px;
    font-size: 16px;
}
.Project{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ProjectWrapper{
    display: block;
    border-radius: 20px;
}
.ProjectImg{
    width: 100%;
    max-width: 1380px;
    border-radius: 15px;
    filter: brightness(85%);
}
