.bar-container {
  width: 2px;
  height: 90%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.static-bar {
  width: 100%;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 0;
}

.animated-bar {
  width: 100%;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 0;
  animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: 90%;
  }
}
