.textStyled{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-size: 28px ;
    color: aliceblue;
    text-align: center;
    font-family: 'Space Mono', monospace, sans-serif;
    max-width: 100%;
    .effect{
        margin: auto;
        max-width: fit-content;
    }
    .Talk{
        font-size: 15px;
        margin: 0px;
        padding: 5px 5px 5px 5px; 
        max-width: 980px;
    }
    .margin-top{
        margin-top: 2.5vw;
    }
}

@media screen and (min-width:350px) { 
	.Talk{
        font-size: 20px !important;
    }
}