.textStyled{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: aliceblue;
    text-align: center;
    font-family: 'Space Mono', monospace, sans-serif;
    .effect{
        margin: 5px;
    }
}