@charset "UTF-8";
:root {
  background-color: black;
  cursor: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Components Styling */
.custom-cursor {
  position: absolute;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  left: 150px;
  top: 200px;
  transition: transform 0.1s ease-out;
}

.light-effect {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(15px);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

@media only screen and (max-width: 1280px) {
  .custom-cursor .light-effect {
    background-color: rgb(246, 246, 94);
  }
}
.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 2px;
  background-color: black;
  position: relative;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
}

.static-bar {
  width: 90%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 0;
}

.animated-bar {
  width: 15%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  animation: moveLeftRight 10s ease-in-out infinite;
}

@keyframes moveLeftRight {
  0%, 100% {
    left: 5%;
  }
  50% {
    left: 80%;
  }
}
.textStyled {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: aliceblue;
  text-align: center;
  font-family: "Space Mono", monospace, sans-serif;
  max-width: 100%;
}
.textStyled .effect {
  margin: 5px;
}
.textStyled .smoothTalk {
  font-size: 16px;
  margin: 0px;
  padding: 2.5vh 10px 0px 10px; /* Attention padding vw Attention je répéte Paddding */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 50%;
}
.wrapper_img {
  border-radius: 50%;
  width: 250px;
  position: absolute;
}
.wrapper_spline {
  display: none;
}
@media only screen and (min-width: 1400px) {
  .wrapper_spline {
    display: block;
  }
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  z-index: -5;
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  animation: movingStars 40s linear infinite;
}

.large-star {
  width: 2px;
  height: 2px;
}

.shooting-star {
  z-index: -5;
  position: absolute;
  animation: shootingStarsAnimation linear infinite;
}

.shooting-star::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150px;
  height: 1px;
  background: linear-gradient(90deg, transparent, transparent);
}

.shooting-star.blue::after {
  background: linear-gradient(90deg, rgba(173, 173, 230, 0.5), transparent);
}

.shooting-star.red::after {
  background: linear-gradient(90deg, rgba(238, 161, 173, 0.5), transparent);
}

.shooting-star.yellow::after {
  background: linear-gradient(90deg, rgba(237, 237, 168, 0.5), transparent);
}

.shooting-star.purple::after {
  background: linear-gradient(90deg, rgba(234, 153, 231, 0.5), transparent);
}

.shooting-star.orange::after {
  background: linear-gradient(90deg, rgba(198, 156, 79, 0.5), transparent);
}

@keyframes movingStars {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(3vh) translateX(3vh);
  }
  50% {
    transform: translateY(0) translateX(5vh);
  }
  75% {
    transform: translateY(-3vh) translateX(3vh);
  }
}
@keyframes shootingStarsAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.changePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  color: white;
  position: fixed;
  bottom: 1vh;
}
.changePage .arrowDown {
  height: min(5vh, 50px);
  padding: 0px 25px 0 25px;
  animation: moveUpAndDown 1s ease-in-out infinite;
}
.changePage .linesEffect {
  width: 100%;
}
.changePage .linesEffect .line {
  position: absolute;
  width: 1px;
  height: 2vh;
  background-color: white;
  animation: animateLine 1s linear infinite;
}

.link {
  color: white;
}

@keyframes moveUpAndDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes animateLine {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Components Styling */
/* Page Styling May be deleted later  */
.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* *//*# sourceMappingURL=Main.css.map */