@charset "UTF-8";
:root {
  background-color: black;
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
}

/* Components Styling */
.custom-cursor {
  position: absolute;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  /*mix-blend-mode: difference; See Later */
  transform: translate(-50%, -50%);
  left: 150px;
  top: 200px;
  transition: transform 0.1s ease-out;
}

.light-effect {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(15px);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

@media only screen and (max-width: 1280px) {
  .custom-cursor .light-effect {
    background-color: rgb(246, 246, 94);
  }
}
.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 2px;
  background-color: black;
  position: relative;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
}

.static-bar {
  width: 90%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
}

.animated-bar {
  width: 15%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  animation: moveLeftRight 10s ease-in-out infinite;
}

@keyframes moveLeftRight {
  0%, 100% {
    left: 5%;
  }
  50% {
    left: 80%;
  }
}
.textStyled {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: aliceblue;
  text-align: center;
  font-family: "Space Mono", monospace, sans-serif;
  max-width: 100%;
}
.textStyled .effect {
  margin: 5px;
}
.textStyled .smoothTalk {
  font-size: 16px;
  margin: 0px;
  padding: 2.5vh 10px 0px 10px; /* Attention padding vw Attention je répéte Paddding */
  max-width: 1380px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 50%;
}
.wrapper_img {
  border-radius: 50%;
  width: 250px;
  position: absolute;
}
.wrapper_spline {
  display: none;
}
@media only screen and (min-width: 1400px) {
  .wrapper_spline {
    display: block;
  }
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  z-index: -5;
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  animation: movingStars 40s linear infinite;
}

.large-star {
  width: 2px;
  height: 2px;
}

.shooting-star {
  z-index: -5;
  position: absolute;
  animation: shootingStarsAnimation linear infinite;
}

.shooting-star::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150px;
  height: 1px;
  background: linear-gradient(90deg, transparent, transparent);
}

.shooting-star.white::after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), transparent);
}

.shooting-star.blue::after {
  background: linear-gradient(90deg, rgba(173, 173, 230, 0.5), transparent);
}

.shooting-star.red::after {
  background: linear-gradient(90deg, rgba(238, 161, 173, 0.5), transparent);
}

.shooting-star.yellow::after {
  background: linear-gradient(90deg, rgba(237, 237, 168, 0.5), transparent);
}

.shooting-star.purple::after {
  background: linear-gradient(90deg, rgba(234, 153, 231, 0.5), transparent);
}

.shooting-star.orange::after {
  background: linear-gradient(90deg, rgba(198, 156, 79, 0.5), transparent);
}

@keyframes movingStars {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(3vh) translateX(3vh);
  }
  50% {
    transform: translateY(0) translateX(5vh);
  }
  75% {
    transform: translateY(-3vh) translateX(3vh);
  }
}
@keyframes shootingStarsAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.changePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  color: white;
  position: fixed;
  bottom: 1vh;
}
.changePage .arrowDown {
  height: min(5vh, 50px);
  padding: 0px 25px 0 25px;
  animation: moveUpAndDown 1s ease-in-out infinite;
}
.changePage .linesEffect {
  width: 100%;
}
.changePage .linesEffect .line {
  position: absolute;
  width: 1px;
  height: 2vh;
  background-color: white;
  animation: animateLine 1s linear infinite;
}

.link {
  color: white;
}

@keyframes moveUpAndDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes animateLine {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
p, h1, h2 {
  font-family: "Space Mono", monospace, sans-serif;
  text-align: center;
}

.TitleProject {
  margin: 0 0 1vw 0;
  color: white;
  line-height: 36px;
  text-align: center;
}

.description {
  color: white;
  width: 95%;
  max-width: 1380px;
  line-height: 26px;
  font-size: 16px;
}

.Project {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ProjectWrapper {
  display: block;
  border-radius: 20px;
}

.ProjectImg {
  width: 100%;
  max-width: 1380px;
  border-radius: 15px;
  filter: brightness(85%);
}

.SkillsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  border-radius: 35px;
  row-gap: 10px;
  padding: 10px 0px 10px 0px;
}
.SkillsWrapper .SkillContainer {
  z-index: 1;
  height: 30vw;
  max-height: 115px; /* Mobile and desktop*/
  width: 30vw; /* Mobile and desktop */
  max-width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  background: rgb(182, 182, 182);
  background: linear-gradient(155deg, rgb(200, 200, 200) 0%, rgb(0, 0, 0) 85%);
}
.SkillsWrapper .SkillContainer .SkillImg {
  width: 50px;
  border-radius: 15px;
  padding-top: 15px;
}
.SkillsWrapper .SkillContainer:hover {
  animation: rotateAnimation 0.8s forwards;
}
.SkillsWrapper .SkillContainer::after {
  border: 10px grey solid;
  transform: skew(-50deg);
}

.Skills {
  font-weight: 600;
  margin: 0;
  color: white;
  width: 95%;
}

.SkillName {
  color: white;
}

.SkillContainer::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid rgba(55, 55, 55, 0.5);
  transform: skew(300deg);
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* Components Styling */
/* Page Styling May be deleted later  */
.landingPlacement {
  display: flex;
  height: 720px;
  flex-direction: column;
  justify-content: space-around;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexboxProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 90px;
}

/* *//*# sourceMappingURL=Main.css.map */