.footer-content {
  background: #ffffff;
  box-shadow: 0 0 0 0.6em rgba(255, 255, 255, 0.05),
    0 0 0 1.2em rgba(255, 255, 255, 0.05), 0 0 0 1.8em rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px; 
  border-radius: 50% 50% 0% 0%;
  gap: 100px;

}

.flag {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  bottom: 50px;
}

.first{
  position: relative;
  left: 25px;
}

.second{
  position: relative;
  right: 25px;
}

.flag__flagpole {
  position: relative;
  height: 195px; 
  width: 4.5px; 
  border-right: 1px solid #ffffff24;
  border-radius: 2.5px; 
  background-color: #444;
  box-shadow: -2px 0 5px 0px rgba(0, 0, 0, 0.2);
}

.flag__flagpole::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 600%;
  height: 3.75px; 
  border-radius: 1.5px; 
  background-color: #444;
}

.flag__canvas {
  position: relative;
  width: 130px; 
  height: 79.5px; 
  margin-top: 1.5px; 
  box-shadow: 0 0 3.75px rgba(0, 0, 0, 0.2); 
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text{
  position: absolute;
  top: 40px;
  mix-blend-mode: difference;
  color: white;
  text-wrap: nowrap;
}


.link_footer{
  margin-bottom: 15px;
}