.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    &_design{
        height: 800px;
        width: 650px;
        &_img{
            border-radius: 50%;
            position: absolute;
            width: 450px;
            left: 11.5%;
            top: 24%;
        }
    }
}

